<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <title>TfL API Client Demo</title>
</head>
<body>
<div id="app" class="container">
    <h1>TfL API Client Demo</h1>
    <div class="card" v-if="api.type">
        <div class="card-block">
            <h4 class="card-title">Type: {{api.type}}</h4>
        </div>
        <ul class="list-group list-group-flush">
            <li v-for="row in api.data" class="list-group-item">
                {{row.data.properties.name}}
            </li>
        </ul>
    </div>
</div>

<script src="bundle.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            api: {}
        },
        computed: {
            apiJSON: function() {
                return JSON.stringify(this.api, null, 2);
            }
        }
    });

    var api = new TfLAPIClient('https://api.tfl.lu/dev');
    api.subscribe('/BikePoint', function(data) {
        app.api = data;
    });
</script>
</body>
</html>
