<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <title>TfL API Client Demo</title>
</head>
<body>
<div id="app" class="container-fluid">
    <h1>TfL 💖⭐️ STREAMING ❤️💖 API Client Demo 😋 👍</h1>
    <div class="row">
        <div class="col-sm-6">
            <h2>/BikePoint</h2>
            <table class="table table-bordered" v-if="apiBikePoint.type">
                <tr>
                    <th colspan="4">Type: {{apiBikePoint.type}}</th>
                </tr>
                <tr>
                    <th>BikePoint</th>
                    <th>Bikes available</th>
                    <th>E-Bikes available</th>
                    <th>Docks free</th>
                </tr>
                <tr v-for="row in apiBikePoint.data">
                    <td>{{row.data.properties.name}}</td>
                    <td>{{row.data.properties.available_bikes}}</td>
                    <td>{{row.data.properties.available_ebikes}}</td>
                    <td>{{row.data.properties.available_docks}}</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-6">
            <h2>/Occupancy/Carpark</h2>
            <table class="table table-bordered" v-if="apiCarpark.type">
                <tr>
                    <th colspan="4">Type: {{apiCarpark.type}}</th>
                </tr>
                <tr>
                    <th>CarPark</th>
                    <th>Total</th>
                    <th>Free</th>
                    <th>Trend</th>
                </tr>
                <tr v-for="row in apiCarpark.data">
                    <td>{{row.data.properties.name}}</td>
                    <td>{{row.data.properties.total}}</td>
                    <td>{{row.data.properties.free}}</td>
                    <td>{{row.data.properties.trend}}</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-6">
            <h2>/StopPoint/Departures</h2>
            <table class="table table-bordered" v-if="apiDepartures.type">
                <tr>
                    <th colspan="4">Type: {{apiDepartures.type}}</th>
                </tr>
                <tr>
                    <th>Stoppoint</th>
                    <th>Departure</th>
                    <th>Line</th>
                    <th>Destination</th>
                </tr>
                <template v-for="(data, key) in apiDepartures.data">
                    <tr>
                        <td v-bind:rowspan="data.length + 1">{{key}}</td>
                    </tr>
                    <tr v-for="departure in data">
                        <td>{{time(departure.departure)}}</td>
                        <td v-if="departure.type === 'bus'">Bus {{departure.line}}</td>
                        <td v-else>Train {{departure.trainId}}</td>
                        <td>{{departure.destination}}</td>
                    </tr>
                </template>
            </table>
        </div>
        <div class="col-sm-6">
            <h2>/Weather</h2>
            <table class="table table-bordered" v-if="apiWeather.type">
                <tr>
                    <th colspan="4">Type: {{apiWeather.type}}</th>
                </tr>
                <tr>
                    <th>Weather</th>
                    <th>Pressure</th>
                    <th>Wind</th>
                    <th>Visibility</th>
                </tr>
                <tr>
                    <td>{{ apiWeather.data.weather[0].description }}</td>
                    <td>{{ apiWeather.data.main.temp }}°C {{ apiWeather.data.main.pressure }}hPa {{ apiWeather.data.main.humidity }}%</td>
                    <td>{{ apiWeather.data.wind.speed }}km/h {{ apiWeather.data.wind.deg }}°</td>
                    <td>{{ apiWeather.data.visibility }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script src="bundle.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            apiBikePoint: {},
            apiDepartures: {},
            apiCarpark: {},
            apiWeather: {}
        },
        computed: {
            apiJSON: function() {
                return JSON.stringify(this.apiBikePoint, null, 2);
            },
            apiJSON: function() {
                return JSON.stringify(this.apiDepartures, null, 2);
            },
            apiJSON: function() {
                return JSON.stringify(this.apiCarpark, null, 2);
            },
            apiJSON: function() {
                return JSON.stringify(this.apiWeather, null, 2);
            }
        },
        methods: {
            time: function (unix) {
                return moment.unix(unix).format('HH:mm');
            }
        }
    });

    var api = new TfLAPIClient('https://api.tfl.lu/dev');
    //var api = new TfLAPIClient('http://localhost:9000');
    api.subscribe('/BikePoint', function(data) {
        app.apiBikePoint = data;
    });
    api.subscribe('/Occupancy/CarPark', function(data) {
        app.apiCarpark = data;
    });
    api.subscribe('/Weather', function(data) {
        app.apiWeather = data;
    });
    /*api.subscribe('/StopPoint', function(data) {
        app.api = data;
    });*/
    api.subscribe('/StopPoint/Departures', function(data) {
        app.apiDepartures = data;
    });
</script>
</body>
</html>
