<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <title>TfL API Client Demo</title>
</head>
<body>
<div id="app" class="container-fluid">
    <h1>TfL STREAMING API Client Demo</h1>
    <div class="row">
        <div class="col-sm-6">
            <h2>/BikePoint</h2>
            <div class="card" v-if="apiBikePoint.type">
                <div class="card-block">
                    <h4 class="card-title">Type: {{apiBikePoint.type}}</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li v-for="row in apiBikePoint.data" class="list-group-item">
                        {{row.data.properties.name}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6">
            <h2>/StopPoint/Departures</h2>
            <div class="card" v-if="apiDepartures.type">
                <div class="card-block">
                    <h4 class="card-title">Type: {{apiDepartures.type}}</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li v-for="(data, key) in apiDepartures.data" class="list-group-item">
                        {{key}} - {{data[0].destination}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="bundle.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            apiBikePoint: {},
            apiDepartures: {}
        },
        computed: {
            apiJSON: function() {
                return JSON.stringify(this.apiBikePoint, null, 2);
            },
            apiJSON: function() {
                return JSON.stringify(this.apiDepartures, null, 2);
            },
        }
    });

    var api = new TfLAPIClient('https://api.tfl.lu/dev');
    api.subscribe('/BikePoint', function(data) {
        app.apiBikePoint = data;
    });
    /*api.subscribe('/StopPoint', function(data) {
        app.api = data;
    });*/
    api.subscribe('/StopPoint/Departures', function(data) {
        app.apiDepartures = data;
    });
</script>
</body>
</html>
